@import url("//hello.myfonts.net/count/31a8da");
@import url("//hello.myfonts.net/count/32942f");
.row {
	max-width: 71.25em
}
@font-face {
	font-family: 'HandOfSeanPro-Regular';
	src: url("../fonts/31A8DA_0_0.eot");
	src: url("../fonts/31A8DA_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/31A8DA_0_0.woff2") format("woff2"), url("../fonts/31A8DA_0_0.woff") format("woff"), url("../fonts/31A8DA_0_0.ttf") format("truetype")
}
@font-face {
	font-family: 'MuseoSans-300';
	src: url("../fonts/30F109_1_0.eot");
	src: url("../fonts/30F109_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/30F109_1_0.woff2") format("woff2"), url("../fonts/30F109_1_0.woff") format("woff"), url("../fonts/30F109_1_0.ttf") format("truetype")
}
@font-face {
	font-family: 'MuseoSans-500';
	src: url("../fonts/30F109_3_0.eot");
	src: url("../fonts/30F109_3_0.eot?#iefix") format("embedded-opentype"), url("../fonts/30F109_3_0.woff2") format("woff2"), url("../fonts/30F109_3_0.woff") format("woff"), url("../fonts/30F109_3_0.ttf") format("truetype")
}
@font-face {
	font-family: 'BrandonGrotesqueWeb-Bold';
	src: url("../fonts/32942F_0_0.eot");
	src: url("../fonts/32942F_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/32942F_0_0.woff2") format("woff2"), url("../fonts/32942F_0_0.woff") format("woff"), url("../fonts/32942F_0_0.ttf") format("truetype")
}
@font-face {
	font-family: 'brandon_regular';
	src: url("../fonts/brandon_reg-webfont.eot");
	src: url("../fonts/brandon_reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg-webfont.woff2") format("woff2"), url("../fonts/brandon_reg-webfont.woff") format("woff"), url("../fonts/brandon_reg-webfont.ttf") format("truetype"), url("../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg") format("svg");
	font-weight: normal;
	font-style: normal
}
.hidden {
	display: none !important;
	visibility: hidden !important
}
.clearfix {
	display: block;
	clear: both
}
.clearfix:before, .clearfix:after {
	content: ' ';
	display: table
}
.clearfix:after {
	clear: both
}
.video-container, .media-vimeo-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0
}
.video-container iframe, .media-vimeo-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
.media-soundcloud-audio iframe {
	width: 100%;
	max-height: 150px
}
.emergency-message {
	display: none;
	padding: 1em;
	background: #f0f0f0;
	color: #000;
	position: relative;
	text-align: center
}
.emergency-message p:last-child {
	margin-bottom: 0
}
.close {
	text-align: left;
	text-indent: -9999px;
*font-size:0;
*line-height:0px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 1em;
	right: 1em;
	display: block;
	height: 30px;
	width: 30px;
	background-image: url("../images/emClose.png");
	cursor: pointer;
	-webkit-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out
}
.close:hover {
	opacity: 0.7
}
.hide-for-mobile {
	display: block !important
}
.show-for-mobile {
	display: none !important
}
@media (max-width: 768px) {
.hide-for-mobile {
	display: none !important
}
.show-for-mobile {
	display: block !important
}
}
input, input[type="text"], input[type="password"], input[type="email"], input[type="submit"], textarea, select {
	font-size: 16px;
	font-family: 'MuseoSans-300';
	color: #000;
	resize: none;
	padding: 0.5em 1em;
	-webkit-appearance: none;
	border-radius: 0;
	outline: 0;
	border: 1px solid #000;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out
}
.form-actions input, input[type="submit"] {
	cursor: pointer
}
.listing {
	list-style: none;
	margin: 0;
	padding: 0
}
.listing li {
	list-style: none;
	margin: 0;
	padding: 0
}
.listing li {
	vertical-align: top;
	margin-bottom: 2%;
	margin-right: 2%;
	float: left;
	position: relative
}
.one-col li {
	width: 100%;
	margin-right: 0
}
.one-col li:last-child {
	margin-bottom: 0
}
.two-col li {
	width: 49%
}
.two-col li:nth-of-type(2n+2) {
	margin-right: 0
}
.three-col li {
	width: 32%
}
.three-col li:nth-of-type(3n+3) {
	margin-right: 0
}
.four-col li {
	width: 23.5%
}
.four-col li:nth-of-type(4n+4) {
	margin-right: 0
}
.five-col li {
	width: 18.4%
}
.five-col li:nth-of-type(5n+5) {
	margin-right: 0
}
.six-col li {
	width: 15%
}
.six-col li:nth-of-type(6n+6) {
	margin-right: 0
}
@media (max-width: 767px) {
.two-col li, .three-col li, .four-col li, .five-col li {
	width: 100%;
	margin-right: 0
}
}
.pager {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	display: block;
	clear: both
}
.pager li {
	list-style: none;
	margin: 0;
	padding: 0
}
.pager li {
	display: inline-block
}
.pager li a {
	padding: 10px 20px;
	display: block
}
.pager li.pager-current {
	padding: 10px 20px
}
.tabs ul {
	border: 0 !important;
	margin: 1em 0 !important;
	padding: 0
}
.tabs ul li {
	margin-right: 1em
}
.tabs ul li a {
	color: #000 !important;
	background: #f0f0f0 !important;
	padding: 0.5em 1em !important;
	margin: 0 !important;
	border: 1px solid #000
}
.tabs ul li a.active, .tabs ul li a:hover {
	color: #f0f0f0 !important;
	background: #000 !important
}
body, html {
	font-size: 16px;
	font-family: 'MuseoSans-300';
	color: #000;
	height: 100%;
	-webkit-text-size-adjust: 100%
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	font-family: 'BrandonGrotesqueWeb-Bold';
	margin: 0 0 0.5em
}
h1 {
	color: #6e3153;
	font-size: 70px;
	line-height: 1;
	margin-bottom: 25px
}
@media (max-width: 800px) {
h1 {
	font-size: 60px
}
}
@media (max-width: 767px) {
h1 {
	font-size: 50px
}
}
.large-6 h1 {
	margin-top: 40px
}
h2 {
	color: #98bd31;
	font-size: 1.2em;
	text-transform: uppercase
}
h4 {
	font-size: 1.5em
}
h4.hand {
	font-size: 2em;
	color: #98bd31
}
.hand {
	font-family: 'HandOfSeanPro-Regular';
	letter-spacing: 1.25px;
	text-transform: none;
	font-size: 2em;
	line-height: 1.05
}
.color.purple {
	color: #a75e87
}
p {
	line-height: 1.4;
	margin-top: 0;
	margin-bottom: 13px
}
.text-centered {
	text-align: center
}
strong {
	font-weight: normal;
	font-family: 'MuseoSans-500'
}
em {
	font-style: italic
}
small {
	font-size: 90%
}
a {
	text-decoration: none;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
	outline: 0
}
a:hover {
	color: #6e3153
}
body {
	padding-top: 79px
}
.site-header {
	background: #6e3153;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	height: auto;
	width: 100%;
	z-index: 100
}
@media (max-width: 768px) {
.site-header {
	position: absolute
}
}
@media (max-width: 480px) {
.site-header {
	height: 140px
}
}
#header-inner {
	height: 80px;
	padding: 0 .9375em;
	font-family: 'brandon_regular';
	font-size: 1.2em;
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	background: #6e3153;
	position: relative;
	z-index: 2
}
#header-inner p {
	margin: 0
}
@media (max-width: 480px) {
#header-inner {
	height: 100px
}
}
.site-logo {
	text-align: left;
	text-indent: -9999px;
*font-size:0;
*line-height:0px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../images/logo.png");
	background-position: left center;
	display: block;
	height: 80px;
	width: 180px;
	float: left
}
.site-logo:hover {
	opacity: 0.7
}
#block-bean-tagline {
	float: left;
	margin-top: 30px;
	margin-left: 10px
}
#block-bean-tagline p {
	font-size: 1.3em
}
@media (max-width: 480px) {
#block-bean-tagline {
	position: absolute;
	top: 30px
}
}
#block-bean-header-links {
	float: right;
	margin-top: 36px
}
@media (max-width: 990px) {
#block-bean-header-links {
	position: absolute;
	left: .9375em;
	bottom: -32px
}
}
#block-bean-header-links ul {
	list-style: none;
	margin: 0;
	padding: 0
}
#block-bean-header-links ul li {
	list-style: none;
	margin: 0;
	padding: 0
}
#block-bean-header-links ul li {
	display: inline-block
}
#block-bean-header-links ul li a {
	color: #fff;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	margin-left: 10px
}
#block-bean-header-links ul li a:hover {
	text-decoration: underline
}
#block-bean-header-links ul li .facebook, #block-bean-header-links ul li .twitter, #block-bean-header-links ul li .linkedin, #block-bean-header-links ul li .youtube {
	text-align: left;
	text-indent: -9999px;
*font-size:0;
*line-height:0px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 25px;
	width: 25px;
	margin: 0 5px
}
@media (max-width: 480px) {
#block-bean-header-links ul li .facebook, #block-bean-header-links ul li .twitter, #block-bean-header-links ul li .linkedin, #block-bean-header-links ul li .youtube {
	margin: 0 5px 0 0
}
}
#block-bean-header-links ul li .facebook:hover, #block-bean-header-links ul li .twitter:hover, #block-bean-header-links ul li .linkedin:hover, #block-bean-header-links ul li .youtube:hover {
	opacity: 0.7
}
#block-bean-header-links ul li .facebook {
	background-image: url("../images/facebook.png?1");
	width: 16px
}
#block-bean-header-links ul li .twitter {
	background-image: url("../images/twitter.png?1");
	margin-left: 10px;
	width: 32px
}
@media (max-width: 767px) {
#block-bean-header-links ul li .twitter {
	margin-left: 2px
}
}
#block-bean-header-links ul li .linkedin {
	background-image: url("../images/linkedin.png?1")
}
#block-bean-header-links ul li .youtube {
	background-image: url("../images/youtube.png?1");
	width: 55px
}
@media (max-width: 767px) {
#block-bean-header-links ul li .email, #block-bean-header-links ul li .telephone {
	text-align: left;
	text-indent: -9999px;
*font-size:0;
*line-height:0px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 25px;
	width: 25px;
	margin: 0 5px
}
#block-bean-header-links ul li .email:hover, #block-bean-header-links ul li .telephone:hover {
	opacity: 0.7
}
#block-bean-header-links ul li .email {
	background-image: url("../images/email.png?1")
}
#block-bean-header-links ul li .telephone {
	background-image: url("../images/tel.png?1")
}
}
.nav-toggle {
	display: none
}
@media (max-width: 768px) {
.nav-toggle {
	display: block
}
}
.main-menu {
	list-style: none;
	margin: 0;
	padding: 0
}
.main-menu li {
	list-style: none;
	margin: 0;
	padding: 0
}
nav {
	height: 40px;
	background: none;
	float:right;
	margin-top:30px;
}a > .sf-sub-indicator, span.nolink > .sf-sub-indicator {
    top: 15px;
    background-position: 0 -100px;
} 
#block-superfish-1 {
	display: block;
	text-align: center
}
#superfish-1 {
	display: inline-block
}
@media (max-width: 480px) {
#superfish-1 {
	width: 100%
}
}
@media (max-width: 480px) {
#superfish-1 li {
	width: 100%
}
}
#superfish-1 li a {
	font-family: 'brandon_regular';
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	text-align: left;
	padding:14px 16px 12px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	border-right: 1px solid #6e3153;
	font-size: 14px;
	letter-spacing: 0.5px
}
#superfish-1 li a:hover{color: #98bd31;}
#superfish-1 li a .sf-sub-indicator{ right:0px;}
/*#superfish-1 li a:hover {
	background: #6e3153;
	color: #fff
}*/
#superfish-1 li.active-trail>a {
	color: #98bd31;
}
#superfish-1 li.last a {
	border-right: 0
}
#superfish-1 li ul {
	background:#98bd31;
	    width: 200px !important;
	text-align:left; padding:0 10px !important;
}
#superfish-1 li ul:after{ position: absolute;
    top: -15px;
    height: 15px;
    background: #98bd31;
    width: 120px;
    left: 0px;
    content: "";}
#superfish-1 li ul li {
	border-right: 0
}
.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul{border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;}
#superfish-1 li ul li a {
	color: #fff;
	text-transform: uppercase;
	background: none;
	padding:10px 0;
	display: block;
	font-size: 14px;
	border-right: 0
}
#superfish-1 li ul li a:hover{color:#6e3153}
#superfish-1 li ul li.active-trail a{color:#6e3153; border-bottom:1px solid #6e3153;}
#superfish-1 li ul li a.active, #superfish-1 li ul li a:hover {
	background: #98bd31
}
#superfish-1 li ul li a:after {
	content: ' ';
	margin: 0 auto;
	border-bottom: 1px solid #98bd31;
	width: 100%;
	max-width: 40%;
	display: block;
	position: relative;
	top: 12px
}
#superfish-1 li ul li.last {
	border: 0
}
#superfish-1 li ul li.last a {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px
}
#superfish-1 li ul li.last a:after {
	display: none
}
@media (max-width: 1280px) {
#superfish-1 {
	display: none;
	float: right;
	clear: right;
	margin-top: 9px
}
#superfish-1 li {
	background: #98bd31;
	display: block;
	float: none;
	position: relative
}
#superfish-1 li a {
	display: block;
	padding: 14px 35px 12px;
	border-right: 0
}
#superfish-1 li ul {
	position: relative;
	top: 0;
	left: 0;
	width: 100%
}
#superfish-1 li ul.sf-hidden {
	position: absolute
}
#superfish-1 li ul li {
	width: 100%
}
#superfish-1 li ul li.first {
	border-top: 1px solid #6e3153
}
#superfish-1 li ul li.last {
	border-bottom: 1px solid #6e3153
}
#superfish-1 li ul li.last a {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0
}
#superfish-1 li ul li a:after {
	content: '';
	display: none
}
#superfish-1 li ul li a:hover, #superfish-1 li ul li a.active {
	background: #6e3153
}
}
#navToggle {
	display: none;
	float: right;
	position: relative;
	padding: 15px 35px 16px 0px;
	z-index: 10;
	top: 4px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	margin-right: .9375em
}
#navToggle span, #navToggle span:before, #navToggle span:after {
	text-align: center;
	cursor: pointer;
	border-radius: 0px;
	height: 2px;
	width: 25px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
	border-radius: 2px;
	-webkit-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out
}
#navToggle span {
	left: 4px
}
#navToggle span:before {
	top: -8px
}
#navToggle span:after {
	bottom: -8px
}
#navToggle:hover span, #navToggle:hover span:before, #navToggle:hover span:after {
	background: #6e3153
}
#navToggle.active span {
	background-color: transparent;
	background: #98bd31
}
#navToggle.active span:before, #navToggle.active span:after {
	top: 0;
	background: #6e3153
}
#navToggle.active span:before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}
#navToggle.active span:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
@media (max-width: 1280px) {
#navToggle {
	display: block
}
}
#mini-nav {
	width: 100%;
	margin-bottom: 2em
}
#mini-nav li {
	display: block;
	float: left;
	width: 32%;
	margin-right: 0
}
@media (max-width: 480px) {
#mini-nav li {
	width: 100%
}
}
#mini-nav li:nth-child(2) {
	margin: 0 2%
}
@media (max-width: 480px) {
#mini-nav li:nth-child(2) {
	margin: 0 0 2%
}
}
#mini-nav li .btn {
	display: block;
	position: relative;
	font-size: 1.1em;
	font-family: 'brandon_regular'
}
@media (max-width: 800px) {
#mini-nav li .btn {
	font-size: 1em
}
}
@media (max-width: 767px) {
#mini-nav li .btn {
	margin-bottom: 15px
}
}
#mini-nav li .btn .icon {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: block;
	height: 70px;
	width: 90px;
	position: absolute;
	right: 0;
	top: -15px;
	background-color: transparent
}
@media (max-width: 1025px) {
#mini-nav li .btn .icon {
	height: 60px;
	right: -10px;
	top: -10px
}
}
@media (max-width: 800px) {
#mini-nav li .btn .icon {
	right: -15px
}
}
#mini-nav li .btn.purple .icon {
	background-image: url("../images/jennings-property-icon.png")
}
#mini-nav li .btn.light-blue .icon {
	background-image: url("../images/jennings-meeting-room-icon.png")
}
#mini-nav li .btn.light-green .icon {
	background-image: url("../images/jennings-serviced-office-icon.png")
}
#mini-nav li .btn.light-purple .icon {
	background-image: url("../images/jennings-virtual-office-icon.png")
}
#mini-nav li .btn:hover {
	color: #fff
}
@media (max-width: 767px) {
.large-10 #mini-nav li .btn .icon {
	display: none !important
}
}
@media (max-width: 480px) {
.large-10 #mini-nav li .btn .icon {
	display: block !important
}
}
.no-marg-btm {
	padding-bottom: 0 !important
}
.section-header {
	padding: 2em 0;
	margin-bottom: 2em
}
.section-header.grey {
	background: #f0f0f0
}
.section-header.icon-pad {
	padding: 3em 0 2.5em
}
.section-header .icon {
	display: block;
	height: 50px;
	border-radius: 4px;
	background: #6e3153;
	width: 150px;
	margin-bottom: 1.5em;
	margin-top: 20px
}
.section-header .icon:before {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	content: ' ';
	height: 70px;
	width: 100%;
	display: block;
	position: relative;
	top: -10px
}
.section-header .icon.text {
	font-family: 'brandon_regular';
	color: #fff;
	text-transform: uppercase;
	line-height: 53px;
	padding: 0 0 0 15px;
	font-size: 1.2em;
	letter-spacing: 0.2px
}
.section-header .icon.text:before {
	display: none;
	content: ''
}
.section-header .icon.text:after {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	content: ' ';
	background-image: url("../images/jennings-property-icon.png");
	height: 80px;
	width: 100%;
	display: block;
	position: relative;
	top: -71px;
	left: 80px
}
@media (max-width: 1025px) {
.section-header .icon.text {
	margin-top: 0
}
}
.section-header p:last-child {
	margin-bottom: 0
}
.section-header img {
	width: 100%;
	height: auto
}
@media (max-width: 767px) {
.section-header img {
	margin-top: 40px
}
}


.site-footer {
	font-family: 'MuseoSans-300';
	font-size: 15px;
	background: #6e3153;
	color: #fff;
	padding: 2em 0
}
.site-footer p{ margin:0px;}
.site-footer a {
	color: #fff
}
.site-footer a:hover {
	color: #98bd31
}
.site-footer h3 {
	font-family: 'brandon_regular';
	color: #98bd31;
	text-transform: uppercase;
	font-size: 100%;
	margin-top: 0
}
.site-footer .side-border {
	border: 3px dotted rgba(255,255,255,0.3);
	border-top: 0;
	border-bottom: 0;
	padding: 0 2em
}
@media (max-width: 800px) {
.site-footer .side-border {
	padding: 0 .9375em
}
}
@media (max-width: 768px) {
.site-footer .side-border {
	border: 0
}
}
.site-footer .left {
	padding-right: 2em
}
@media (max-width: 800px) {
.site-footer .left {
	padding-right: .9375em
}
}
.site-footer .right {
	padding-left: 2em
}
@media (max-width: 800px) {
.site-footer .right {
	padding-left: .9375em
}
}
@media (max-width: 768px) {
.site-footer .large-3 {
	width: 50%
}
.site-footer .large-6 {
	display: none
}
}
@media (max-width: 480px) {
.site-footer .large-3 {
	width: 100%
}
}



.container{ max-width:1280px; padding:0 15px; margin:auto;}

.width-1{ width:800px; margin:auto; position:relative; z-index:1;}
.width-2{ width:1000px; margin:auto; position:relative; z-index:1;}
/*.color{ color:#98bd31;}
.color{ color:#abc84b;}
.color{ color:#6faaa7;}
.color{ color:#a75e87;}
.color{ color:#abc84b;}
.color{ color:#505359;}*/
.main-txt-top:after {
	background-image: url(../images/vectorpaint.svg);
	box-shadow: inset 0 -1px 0 0 #fff, 0 1px 0 0 #fff;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	content: '';
	display: block;
	height:5.5em;
	position: absolute;
	width: 100%;
	-moz-transform: scaleY(3);
	-webkit-transform: scaleY(3);
	-ms-transform: scaleY(3);
	transform: scaleY(3);
	top: -177px;
	left: 0;
}
.main-txt-top{ text-align:center; padding:0 0 50px 0; position:relative;}
.main-txt-top h1,
.main-txt-top h2
{ margin:0 0 20px 0; padding:0px; font-size:32px; font-family: 'BrandonGrotesqueWeb-Bold'; color:#98bd31;}
.txt-1 strong{ font-family: 'MuseoSans-500'; display:block; margin-bottom:10px;}
.ul-1{ margin:25px 0 ; padding:0px; text-align:center;}
.ul-1 ul{ margin:0px; padding:0px; list-style:none;}
.ul-1 ul li{ display:inline-block; vertical-align:top; width:32%; padding:25px 15px 0 15px;}
.ul-1 ul li em{ width:50%; display:block; margin:auto;}
.ul-1 ul li em img{ width:100%; display:block;}
.ul-1 ul li strong{ display:block; font-family: 'MuseoSans-500'; display:block; margin-bottom:5px;}

.fold-bg1{ background:#accb3d;}
.fold-bg2{ background:#a95c87;}
.fold-bg3{ background:#4b505b;}

.bgcolor1{ background:#98bd31;}
.bgcolor2{ background:#abc84b;}
.bgcolor3{ background:#6faaa7;}
.bgcolor4{ background:#ab5c89;}
.bgcolor5{ background:#a95c87;} 
.bgcolor6{ background:#4b505b;}

.image-fold .col-lg-6{ padding:0px;}

.image-fold{ position:relative; min-height: 343px;}
.image-fold h1{ margin:0 0 20px; padding:0px; color:#fff; font-size:28px; font-weight:500; font-family: 'BrandonGrotesqueWeb-Bold';}
.image-fold .descp{ color:#fff; margin:0px; padding:0px; min-height: 132px;}
.image-fold-box{ width:50%; height:100%; position:absolute; overflow: hidden; top:0px;}
.image-fold-left .image-fold-box{left:0px;}
.image-fold-right .image-fold-box{right:0px;}
.image-fold-text{ padding:60px 40px 40px 70px;}
.img-fold-a{ text-align:right;}
.img-fold-a a{ color:#fff; font-size:15px; display:inline-block; text-transform:uppercase; font-family: 'BrandonGrotesqueWeb-Bold';}
.img-fold-a a i{ font-size:18px; margin-left:5px;}
.img-fold-a a:hover{ color:#000;}

.homefeedback-box{ width:670px; margin:auto; padding:50px 0; text-align:center;}
.homefeedback-box strong{ color:#a95c87; font-family: 'HandOfSeanPro-Regular'; font-size:28px; font-weight:normal;}
.homefeedback-box i{ color:#6e3053;  font-family: 'BrandonGrotesqueWeb-Bold'; font-style:normal;}
.video-section{ background:#f0f2f4; padding:50px 0; text-align:center;}
.video-section h1{ margin:0 0 50px; padding:0px; color:#6e3053; font-size:28px; font-weight:500; font-family: 'BrandonGrotesqueWeb-Bold';}
.video-box{    width: 494px;
    margin: auto;}
.site-slogan{    margin: 35px 0 0 9px;
    display: inline-block;     font-size: 22px;
    vertical-align: bottom;}	
.newsletter-section{ background:#6faaa7; padding:50px 0; text-align:center;}
.newsletter-section h2{ margin:0 0 13px; padding:0px; color:#fff; font-size:28px; font-weight:500; font-family: 'BrandonGrotesqueWeb-Bold';}
.newsletter-section .field-content p{ color:#fff;}
.newsletter-section .field-content p a{ color:#fff; text-decoration:underline;}
.newsletter-section .field-content p a:hover{ color:#accb3d;}
.newsletter-section .form-item{ display:inline-block; vertical-align:top; width:31%;}
.newsletter-section .form-item:nth-child(2){    margin: 1em 20px;}
.newsletter-section .form-item input[type="text"],
.newsletter-section .form-item input[type="email"]
{ width:100%; border:0px; padding:5px 5px 13px 9px; font-size: 16px;
   font-family: 'BrandonGrotesqueWeb-Bold'; 
    color: #000;}
.newsletter-section .form-actions input[type="submit"]	{     border-radius: 4px;
    background: #a95c87;
    color: #fff;
    padding: 9px 35px;
    font-family: 'MuseoSans-500';
    font-size: 15px;
    text-transform: uppercase;
    border: 0;}
.newsletter-section .form-actions input[type="submit"]:hover{ background:#6e3053;}	


	
.call-us-section{ background:#5ba7a3; padding:50px 0; text-align:center;}	
.call-us-section h1{ margin:0 0 35px; padding:0px; color:#fff; font-size:28px; font-weight:500; font-family: 'BrandonGrotesqueWeb-Bold';}
.call-us-section ul{ margin:0px; padding:0px; list-style:none;}
.call-us-section ul li{ display:inline-block; vertical-align:top; margin:0 10px;}
.call-us-section ul li a{ display:block; padding:10px 20px; font-size:20px;font-family: 'MuseoSans-500'; border-radius:4px; color:#fff; background:#a95c87;}
.call-us-section ul li:last-child a{background:#6e3053;}
.call-us-section ul li a:hover,
.call-us-section ul li:last-child a:hover{background:#accb3d;}

.width-3{ width:1050px; margin:auto;}
.workspace-two-section{background:#abc84b; padding:50px 0;}
.workspace-two-box{ background:#fff; padding:25px;}
.workspace-two-box h1{ margin:17px 0 26px 0; padding:0px; color:#6e3053; font-size:28px; font-weight:500; font-family: 'BrandonGrotesqueWeb-Bold';}	
.workspace-two-box-l p{ margin:0px;}
.workspace-two-box-l{ float:left; width:50%;}
.workspace-two-box-r{ width:47%; float:right;}
.workspace-two-box-l strong{ margin:15px 0 0 0; display:block; font-size:18px;}
.workspace-two-box-l ul{ margin:5px 0 0 0; padding:0px; list-style:none;}
.workspace-two-box-l ul li{ margin: 0 0 4px 0;
    padding: 0 0 0 21px;
    background: url(../images/li-icon.png) no-repeat 0px 7px;}
.button-1{ display:block; margin-top:20px;}
.button-1 a{     display: inline-block;
    padding: 8px 32px;
    font-size: 15px;
    font-family: 'MuseoSans-500';
    border-radius: 4px;
    color: #fff;
    background: #a95c87;}
.width-4{ margin:auto; width:550px;}	
.workspaces-subtxt-top{ padding:50px 0; text-align:center; }	
.workspaces-subtxt-top h1{ margin:0 0 20px 0; padding:0px; font-size:32px; font-family: 'BrandonGrotesqueWeb-Bold'; color:#98bd31;}
.workspaces-subtxt-top strong{ font-family: 'MuseoSans-500'; font-weight:normal; display:block; margin-bottom:10px;}	
.pg-hd-box{ background:#f0f2f4;     position: relative;
    min-height: 343px;}
.hd-img-box {
    width: 50%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0px;
}	
.hd-text-box {
    padding:72px 50px 72px 77px;
}
.hd-text-box h1{ margin:0;
    padding: 0px;
    font-size: 68px;
    font-family: 'BrandonGrotesqueWeb-Bold';
    color: #6e3053;
    font-weight: normal;
    line-height: 89px;}
	
.fold-bg4{ background:#4b505b;}	
.business-locations p{ min-height:50px;}
.business-locations ul{ margin:5px 0 10px 0; padding:0px; list-style:none;}
.business-locations ul li{ margin: 10px 0 0 0;
    padding: 0 0 0 21px; color:#fff;
    background: url(../images/li-icon.png) no-repeat 0px 7px;}
.business-locations ul li strong{ font-family: 'MuseoSans-500'; font-weight:normal; text-transform:uppercase; display:block; margin-bottom:5px;}

.content-main-banner-section{ position:relative; }	
.banner-main{height: 390px; overflow:hidden;}
.content-main-banner-section .banner-detail{ position:absolute; padding-top:122px; top:0px; left:0px; z-index:1; width:100%; text-align:center;}
.banner-sub{margin: 0;
    padding: 0px;
    font-size: 68px;
    font-family: 'brandon_regular';
    color: #fff;
        font-weight: 700;
    line-height: 68px;
    text-transform: uppercase;}